Q1. What exactly is []?

Ans--> It is a blank list, we can add any number of values in this.It can be integer, Float, Complex, Boolean,String etc.

Q2. In a list of values stored in a variable called spam, how would you assign the value 'hello' as the third value? (Assume [2, 4, 6, 8, 10] are in spam.)

In [4]:
spam=[2, 4, 6, 8, 10]
spam[3] = 'hello'

In [5]:
spam

[2, 4, 6, 'hello', 10]

Q3. What is the value of spam[int(int('3' * 2) / 11)]? Let's pretend the spam includes the list ['a', 'b', 'c', 'd'] for the next three queries.

In [12]:
spam= ['a', 'b', 'c', 'd']

In [13]:
spam[int(int('3' * 2) / 11)]

'd'

In [18]:
# Q4. What is the value of spam[-1]?

spam[-1]

'd'

In [19]:
# Q5. What is the value of spam[:2]?

spam[:2]

['a', 'b']

Let's pretend bacon has the list [3.14, 'cat,' 11, 'cat,' True] for the next three questions.

 Q6. What is the value of bacon.index('cat')?

In [24]:
bacon= [3.14, 'cat', 11, 'cat', True]

bacon.index('cat')

1

Q7. How does bacon.append(99) change the look of the list value in bacon?

Ans--> It will add 99 at the last index of bacon

In [32]:
bacon= [3.14, 'cat', 11, 'cat', True]
bacon.append(99)
bacon

[3.14, 'cat', 11, 'cat', True, 99]

Q8. How does bacon.remove('cat') change the look of the list in bacon?

Ans--> It will remove cat from the list that too the cat which exist at first index , suppose here we have cat at index-1 & index-3 ,so after using remove('cat') it will remove cat at index=1

In [35]:
bacon= [3.14, 'cat', 11, 'cat', True]
bacon.remove('cat')
bacon

[3.14, 11, 'cat', True]

Q9. What are the list concatenation and list replication operators?

Ans--> For concatenation we are using "+" operator , whereas for replication/multiplication we are using "* " operator

Q10. What is difference between the list methods append() and insert()?

Ans--> Append is used when we want to add any variable or number at "last index" of list whereas insert can be used when we want to add any number at any index value in middle or starting index of list.

Q11. What are the two methods for removing items from a list?

Ans--> We can use remove(), del() and pop() to remove items from list.

Q12. Describe how list values and string values are identical.

Ans--> List and string values are same because both follows same type of pattern/sequence and most of the command function are also same the only difference is that in string we will take all string value whereas in list we can take any datatype like string, int,float etc

Q13. What's the difference between tuples and lists?

Ans--> List is mutable and tuple is immutable, list can be used in [ ] braces whereas tuple can be defined inside ( ) braces

Q14. How do you type a tuple value that only contains the integer 42?

In [39]:
tup=(42,)

In [40]:

type(tup)

tuple

In [ ]:
Q15. How do you get a list value's tuple form? How do you get a tuple value's list form?

In [50]:
l=[1,2,3,4]
type(l)

list

In [47]:
l1=tuple(l)

In [48]:
l1

(1, 2, 3, 4)

In [49]:
type(l1)

tuple

In [51]:
t=(1,2,3)
type(t)

tuple

In [52]:
t1=list(t)
type(t1)

list

Q16. Variables that "contain" list values are not necessarily lists themselves. Instead, what do they contain?

Ans--> Variables have list values

Q17. How do you distinguish between copy.copy() and copy.deepcopy()?

Ans--> In copy.copy(), if we do chnages in one list it will show changes in both but in deepcopy if we make changes in clone list it will not affect or change the original list.

In [63]:
import copy
l1=[1,2,3,4]
l2=copy.copy(l)

In [64]:
l2

[1, 2, 3, 4]

In [65]:
l1=[2,3,4]

In [66]:
l2

[1, 2, 3, 4]

In [73]:
l4=[5,7,3,4]
l3=copy.deepcopy(l4)

In [74]:
l3

[5, 7, 3, 4]